<!doctype html>
<html>
  <head>
    <title>Solicitud de cambio de contraseña</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        color: #333;
        background-color: #f5f5f5;
        padding: 20px;
      }

      h1 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
      }

      p {
        margin-bottom: 20px;
      }

      .button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        color: #fff;
        background-color: #1ab5e6;
        border-radius: 5px;
      }

      .button:hover {
        background-color: #ebc246;
      }
    </style>
  </head>

  <body>
    <h1>Hemos recibido una solicitud de cambio de contraseña.</h1>
    <p>
      Si realizaste esta solicitud, haz clic en el siguiente botón para cambiar
      tu contraseña:
    </p>
    <p><a href="<%= link %>" class="button">Cambiar contraseña</a></p>
    <p>Si no realizaste la solicitud, ignora este mensaje.</p>
  </body>
</html>
